@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-100;
}

.gradient {
    position: absolute;
    width: 200px;
    height: 438px;
    top: 0px;
    right: 0px;
  
    background: #7aebfb;
    filter: blur(190px);
  }
/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #B9C4FF;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #6E82FE;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8FA0FF;
}